@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Common Styles  */
body {
    margin: 0;;
}
* {
    box-sizing: border-box;
}
.f-16 {
    font-size: 16px;
}
.f-18 {
    font-size: 18px;
}
.f-20 {
    font-size: 20px;
}
.f-25 {
    font-size: 25px;
}
.f-45 {
    font-size: 45px;
}
.f-64 {
    font-size: 64px;
}
.regular {
    font-weight: 400;
}
.medium {
    font-weight: 500;
}
.semibold {
    font-weight: 600;
}
.bold {
    font-weight: 700;
}
.dark-1 {
    color: #131313;
}
.dark-2 {
    color: #424242;
}
.dark-3 {
    color: #727272;
}
.dark-4 {
    color: #A1A1A1;
}
.dark-5 {
    color: #D0D0D0;
}
.dark-6 {
    color: #E7E7E7;
}
.dark-7 {
    color: #F3F3F3;
}
.orange {
    color: #FF900E;
}
header {
    background-color: #FFF4E7;
    margin-bottom: 50px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7%;
    margin-bottom: 100px;
}
.brand {
    width: 40%;
}
.nav-links {
    display: flex;
    justify-content: space-between;
    width: 40%;
}
.nav-links li {
    list-style: none;
}
.nav-links a {
    text-decoration: none;
}
.nav-links a:visited {
    color: #424242;
}

/* Hero section  */
.hero-title {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
}
.hero-title > * {
    margin-bottom: 0;
    margin-top: 0;
}
.hero-title > h1 {
    padding: 0 auto;
}
.hero-title > p {
    padding: 0 20%;
}
.hero-title > button, .feat-title > button, .feats-btn {
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    border: none;
    border-radius: 5px;
}
.hero-title > img {
    width: 80%;
}

/* Main Section  */
.feature {
    display: flex;
    padding: 10px 10%;
    gap: 0px;
    align-items: center;
    padding-bottom: 50px;
}
.feat-img {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 5%;
}
.feat-img img {
    width: 40%;
}
.feat-title {
    width: 65%;
    padding-right: 5%;
}
.feat-title > h3 {
    margin-bottom: 0;
}
.feat-title > button {
    margin-top: 10px;
}

/* Features */
.feats {
    display: flex;
    padding: 20px 10%;
    justify-content: space-between;
    margin-top: 0;
}
.details {
    width: 45%;
    margin-top: 0;
}
.feats-title {
    margin-bottom: 10px;
    border-left: 8px solid #FF900E;
    padding-left: 10px;
}
.part {
    box-shadow: 0 0 10px 2px #E7E7E7;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.part > h5 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 600;
}
.part > p {
    margin: 0;
    font-size: 16px;
    color: #727272;
}
.feats-img {
    width: 45%;
}
.feats-img > img {
    width: 90%;
}
.feats-btn {
    position: relative;
    left: -100px;
    top: -75px
}